* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(33, 33, 120);
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.037);
 
  background-image: url("/images/bullpen.png");

  
}



.intro-page{
  background-color: rgb(33, 33, 120);
  color: aliceblue;
  padding: 80px;
}
.blue-button {
  padding: 1em;
  background-color: rgb(18, 92, 241);
  color: black;
  margin-top: 30px;
}
.blue-button:hover {
  box-shadow: 1px burlywood;
}
.heading {
  color: rgb(191, 191, 222);

}

button {
  color: blue;
  background-color: rgb(191, 191, 222);
  border:black 2px solid;
  margin: 2px;
display: ;
  flex-direction: row;
 


}

table{
 color: whitesmoke;
 display: column;
 border: 2px solid, white;

}
img{
  width: 20%;
  height: 20%;
}

upgrade-list {
  display: table;
}

.upgrade-item {
  display: table-row;
}

.upgrade-item img,
.upgrade-item button {
  display: table-cell;
  padding: 5px;
}

.upgrade-item button {
  cursor: pointer;
}